/* Paleta de cores */
:root {
  --primary-color: #acf9ff; /* Azul claro para usuário */
  --secondary-color: #acffcf; /* Verde claro para professor */
  --background-color: #ffe883a8; /* Fundo suave */
  --shadow-color: rgba(0, 0, 0, 0.1); /* Sombra sutil */  
  --border-radius: 10px; /* Borda arredondada padrão */
}

/* Estilos gerais */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--background-color);
}

.chat-container {
  max-width: 98%;
  height: 100%;
  margin: 10px auto;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px var(--shadow-color);
}

.chat-header {
  background: linear-gradient(to bottom, #6c5ae2, #6c5ae2);
  color: #fff;
  padding: 10px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  text-align: center;
  font-weight: 800;
}

.chat-body {
  overflow-y: scroll;
  padding: 15px;
}

#chat-messages {
  list-style: none;
  padding: 0;
  font-size: 16px;
}

.message {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 50px;
  line-height: 1.5;
  animation: fadeIn 0.3s ease-in;
  box-shadow: 2px 2px 5px var(--shadow-color);
}

.user-message {
  background-color: var(--primary-color);
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.teacher-message {
  background-color: var(--secondary-color);
  border-bottom-left-radius: 0;
}

.chat-input {
  padding:20px;
  display: flex;
}

#message-input {
  margin-top: 40px;
  flex-grow: 1;
  padding: 10px;
  border: 2px solid #6c5ae2;
  border-radius: 5px;
  font-size: 20px;
  transition: box-shadow 0.2s ease;
}

#message-input:focus {
  box-shadow: 0 0 5px var(--primary-color);
}

#send-button {
  padding: 12px 20px;
  background-color: #6c5ae2;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.2s ease;
  margin-left: 10px;
  margin-top: 40px;
}

#send-button:active {
  transform: scale(0.95);
}

/* Animações */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Responsividade */
@media (max-width: 600px) {
  .chat-container {
    max-width: 95%;
  }
  #message-input {
    font-size: 10px;
  }
  #chat-messages {
    font-size: 14px;
  }
}

@media (max-height: 590px) {
  .chat-body {
    height: 100px;
  }
}

@media (min-height: 600px) {
  .chat-body {
    height: 350px;
  }
}

@media (min-height: 700px) {
  .chat-body {
    height: 480px; 
  }
}