/* Paleta de cores */
:root {
  --primary-color: #acf9ff; /* Azul claro para usuário */
  --secondary-color: #acffcf; /* Verde claro para professor */
  --background-color: #000000a8; /* Fundo suave */
  --shadow-color: rgba(0, 0, 0, 0.1); /* Sombra sutil */  
  --border-radius: 10px; /* Borda arredondada padrão */
}

/* Estilos gerais */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.chat-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px var(--shadow-color);
}

.chat-header {
  background: linear-gradient(to bottom, #002a6e, #c2e9fb);
  color: #fff;
  padding: 15px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  text-align: center;
  font-weight: 600;
}

.chat-body {
  height: 400px;
  overflow-y: scroll;
  padding: 15px;
}

#chat-messages {
  list-style: none;
  padding: 0;
}

.message {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  line-height: 1.5;
  animation: fadeIn 0.3s ease-in;
  box-shadow: 2px 2px 5px var(--shadow-color);
}

.user-message {
  background-color: var(--primary-color);
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.teacher-message {
  background-color: var(--secondary-color);
  border-bottom-left-radius: 0;
}

.chat-input {
  padding: 20px;
  display: flex;
}

#message-input {
  flex-grow: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: box-shadow 0.2s ease;
}

#message-input:focus {
  box-shadow: 0 0 5px var(--primary-color);
}

#send-button {
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: #0f0e0e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
  margin-left: 10px;
}

#send-button:active {
  transform: scale(0.95);
}

/* Animações */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Responsividade */
@media (max-width: 600px) {
  .chat-container {
    max-width: 90%;
  }
  #message-input {
    font-size: 14px;
  }
}

@media (max-height: 590px) {
  .chat-body {
    height: 100px;
  }
}

@media (min-height: 600px) {
  .chat-body {
    height: 350px;
  }
}

@media (min-height: 700px) {
  .chat-body {
    height: 480px; 
  }
}